.lang-button{
    background-color: #030303 !important;
    color: #fff;
    position: fixed;
    top: 5vh;
    left: 0;
    font-family: sans-serif;
    z-index: 2000;
    &:hover{
        color: red;
        /* background-color: ; */
    }
}