
    // TODO background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 800 325"%3E%3Cpath d="M510,200 Q460,200 330,200 Q252,204 208,272 C180,312 132,324 72,324 C36,324 36,324 0,325 L0,0 L800,0 L800,200 L575,200 L330,200 Z" fill="red" /%3E%3C/svg%3E');

    // background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 800 325"%3E%3Cdefs%3E%3Cpattern id="bgImage" patternUnits="userSpaceOnUse" width="800" height="325"%3E%3Cimage href="http://164.92.190.92/info/1734292074439-618760612-WhatsApp%20Image%202024-12-15%20at%2023.45.43.jpeg" x="0" y="0" width="800" height="325" /%3E%3C/pattern%3E%3C/defs%3E%3Cpath d="M510,200 Q460,200 330,200 Q252,204 208,272 C180,312 132,324 72,324 C36,324 36,324 0,325 L0,0 L800,0 L800,200 L575,200 L330,200 Z" fill="url(%23bgImage)" /%3E%3C/svg%3E');


   
    // BURDAYIQ
    // .custom-design{
    //     position: relative;
    //     width: 100%;
    //     height: 15vh;
    //     // background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 800 325"%3E%3Cdefs%3E%3Cpattern id="bgImage" patternUnits="userSpaceOnUse" width="800" height="325"%3E%3Cimage href="https://images.unsplash.com/photo-1533680937690-d59ab2543468?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG5pa2UlMjBzbmVha2VyfGVufDB8MHwwfHx8MA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" x="0" y="0" width="800" height="325" /%3E%3C/pattern%3E%3C/defs%3E%3Cpath d="M510,200 Q460,200 330,200 Q252,204 208,272 C180,312 132,324 72,324 C36,324 36,324 0,325 L0,0 L800,0 L800,200 L575,200 L330,200 Z" fill="url(%23bgImage)" /%3E%3C/svg%3E');
    //     background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 800 325"%3E%3Cpath d="M510,200 Q460,200 330,200 Q252,204 208,272 C180,312 132,324 72,324 C36,324 36,324 0,325 L0,0 L800,0 L800,200 L575,200 L330,200 Z" fill="red" /%3E%3C/svg%3E');
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     .my-bg-image{
    //         position: absolute;
    //         width: 40px;
    //         height: 40px;
    //         background: green;
    //         top: 0;
    //         left: 0;
    //     }
    // }


header{
    width: 100%;
    height: 17vh;
    margin-bottom: 18px;
    .custom-design{
        position: relative !important;
        width: 100%;
        height: 17vh;
      }
      
      .custom-design svg {
        width: 100%;
        height: 100%;
        display: block;
      }
      .logo-img{
        // border: 2px solid red;
        position: absolute !important;

        width: 80px;
        height: 80px;
        top: 12% !important;
        left: 5% !important;
    }
    .location-part{
        display: flex;
        align-items: center;
        position: absolute !important;

        bottom: 8% !important;
        left: 2% !important;
        font-size: 10px;
        color: wheat;
        text-decoration: none;
        .location-icon{
            // width: 40px;
            // height: 40px;

            font-size: 12px !important;
        }
    }
    .lang-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        position: absolute;
        top: 3vh;
        right: 2vh;
        width: 5vh;
        height: 3vh;
        font-size: 12px;

        background-color: #8E663C;
        color: white;
    
        &:hover{
            background-color: #8E663C;
            color:white;
        }
    }
    .social-parts{
        width: 70%;
        height: 35%;
        padding-left: 20px;
        font-size: 13px;
        color: #8E663C;
        font-weight: 600;
        position: absolute;
        bottom: 0vh;
        right: 0;
        // border: 2px solid blue;
        .service-pay{
            width: 77% !important;
            font-weight: 500;
            font-size: 11px;
            p{
                line-height: 13px;
            }
        }
        .social-platforms{
            position: absolute;
            bottom: 0;
            left: 3vh;
            margin-left: -20px;
            // border: 2px solid blue;
            display: flex;

            .social-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: #8E663C;
                border-radius: 50%;
                color: white;
               margin-right: 10px;
            }
            .fa-icon{
                text-decoration: none;
                color: white;
                font-size:12px ;
            }
            .fa-icon-whatsapp{
                font-size:13px !important;
            }
        }
    }
    .search-box {
        display: flex;
        align-items: end;
        font-size: 16px;
        position: absolute;
        width: 25%;
        // border: 2px solid red;
        height: 35%;
        position: absolute;
        bottom: 0;
        right: 10px;
        
        .search-input {
            width: 100%;
            height: 24px;
        //   border: 5px solid gray;
          border-radius: 5px;
          padding-left: 2px;
        //   padding: 0 24px 0 12px;
        }

        .search-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        //   padding:3px;
          height: 24px;
          width: 26px;

          border-radius: 5px;
          background-color: gray;
          color: #fff;
          font-size: 12px;
        }
      }
}

  