.info-text{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    .text-content{
        color: #8E663C;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}