@import "./foods.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./infoText.scss";
@import "./meals.scss";

:root {
    --header-bg: white;
    --primary-color: gray;
    --text-color-light: rgb(0, 0, 0);
    --shadow-color: rgba(235, 235, 235, 0.1);
    --secondary-bg: rgb(252, 252, 252);
    --card-bg-color: white;
    --text-color-gold: #8E663C;
}

body{
    background-color: var(--secondary-bg);
}
  